body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  background-image: url("River.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
 background-image: url("cloud.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #000;
}

.profile-details ul,
.address ul {
    list-style-type: none;
    padding: 0;
}

.profile-details li,
.address li {
    font-size: 16px;
    margin: 5px 0;
}

.education table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.education th,
.education td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}
